<%= render('shared/user_info', user: @user) %>
    <div class="box-bio">
  <p><span class="span-bio">Bio: <br></span><%= @user.bio %></p>
  </div>
  <% @user.recent_posts.each do |post| %>
    <div class="box-post">
      <h4>Post <%= post.title %></h4>
      <p><%= post.text %></p>
    </div>
  <% end %>
  <div class="button-container">
  <button class="button-see-post"><%= link_to('See post', user_posts_path(@user)) %></button>
  </div>
</div>