<div class="post-comment-4">
  <div class="complete-post">
    <h4>Post #<%= @post.id %> by <%= @user.name %></h4>
    <p class='post-likes'>Comments <%= @post.comments_counter %>, Likes <%= @post.likes_counter %></p>
    <p class='post-text'><%= @post.text %></p>
  </div>
  <% if @post.comments.length.positive? %>
    <div class="comments">
        <% @post.comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
    </div>
  <% end %>
    <div class="container-buttons-add">
      <%= link_to new_user_post_comment_path(@user, @post) do %>
        <button class="buton-creat-new-comment">New Comment</button>
      <% end %>
      <%= form_with model: Like.new, url: user_post_likes_path(@user, @post) do |form| %>
      <% form.submit "Add Like", class: "add-like" %>
      <% end %>
    </div>
</div>